<%if(success && success.length){%>
    <div class="d-flex justify-content-center">
        <div class="alert alert-success  alert-dismissible fade show " role="alert" style="width: 25rem;">
            <%=success%>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <%}%>